# C/C++
*.o
*.d
*.so

# Python
__init__.py
*.py[cod]

# ROOT
*.root

# Stuff
*~
*.log
*.pdf

# Remove crap in test dir
BLTAnalysis/test/batch
BLTAnalysis/test/ValidationTrees

# Fix data subdir
!BLTAnalysis/data/**


