# C/C++
*.o
*.d
*.so

# Python
__init__.py
*.py[cod]

# ROOT
*.root

# Stuff
*~
*.log
*.pdf
*.gz
*.tar
*.tgz

# Crap in test dir
BLTAnalysis/test/batch

# Buildfile
BLTAnalysis/Buildfile.xml

# Include everything (e.g. ROOT files) in data subdir
!BLTAnalysis/data/**
